Options +FollowSymLinks
RewriteEngine on

#esto deberia ser solo / si tu app esta en raiz, sino el nombre de la carpeta
RewriteBase /
#Operacion para que todos las llamadas a www sean dirigidas a dominio sin www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

#RewriteBase /beta/
RewriteRule ^/$ index.php [L]

#LINKS DE TERCER NIVEL PARA PARAMETROS
RewriteRule ^/?([a-zA-Z_0-9]+)/([a-zA-Z_0-9]+)/([a-zA-Z_0-9]+)$ index.php?controller=$1&action=$2&param=$3
RewriteRule ^/?([a-zA-Z_0-9]+)/([a-zA-Z_0-9]+)/([a-zA-Z_0-9]+)/$ index.php?controller=$1&action=$2&param=$3

#LINKS DE SEGUNDO NIVEL PARA ACCIONES
RewriteRule ^/?([a-zA-Z_0-9]+)/([a-zA-Z_0-9]+)$ index.php?controller=$1&action=$2
RewriteRule ^/?([a-zA-Z_0-9]+)/([a-zA-Z_0-9]+)/$ index.php?controller=$1&action=$2

#LINKS DE PRIMER NIVEL PARA CONTROLADORES
RewriteRule ^/?([a-zA-Z_0-9]+)$ index.php?controller=$1
RewriteRule ^/?([a-zA-Z_0-9]+)/$ index.php?controller=$1