.crash{
    font-family: 'consolas';
    font-size: xx-small;
    border: 3px dashed #000;
    background-color: #e13b34;
    color: #fff;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

.crash .error pre{
    white-space: pre-wrap;
    background-color: #9c1c17;
    padding: 2px;
    border-radius: 5px;
}

.crash p.centro{
    margin:0px;
    text-align: center;
}